**/.build
**/.output
**/Packages
**/xcuserdata/
**/DerivedData/
**/.swiftpm/configuration/registries.json
**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
**/.netrc
.DS_Store
**/.DS_Store
**/_builds

PlainXcode/ReactNativeFramework/.build
PlainXcode/ReactNativeFramework/.output
